<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin/todolistas.css}">
    <link rel="stylesheet" th:href="@{/css/admin/modals.css}">
    <link rel="icon" th:href="@{/images/favicon.svg}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>uwu | Categorías</title>
</head>
<body>
    <header>
        
    </header>

    <aside class="sidebar">
        <div class="aside">
            <div class="aside-header">
            <div class="logo-rol">
                <a th:href="@{/admin/dashboard}" class="logo">
                    <img th:src="@{/images/favicon.svg}" alt="">
                    <p class="text-logo">uwuTech</p>
                </a>
                <div class="rol"><p>Administrador</p></div>
            </div>
            <!--<div class="toggle">
                <div class="toggle-button" id="toggle-button">
                    <button><img src="/shared/assets/sidebar.svg" alt=""></button>
                </div> 
            </div>-->
            </div>
            <nav class="sidebar-menu">
            
            <ul class="nav">
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/dashboard}" class="nav-link">
                        <div>
                            <i class="fas fa-home nav-icon"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                    
                    </div>
                    
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/perfiles}" class="nav-link">
                        <div>
                            <i class="fas fa-id-card-clip nav-icon"></i>
                            <span>Perfiles</span>
                        </div>
                    </a>
                    
                    </div>

                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/perfiles}" class="nav-link">Gestionar Usuarios</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/Roles}" class="nav-link">Roles y Permisos</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/clientes}" class="nav-link">
                            <div>
                                <i class="fas fa-user-group nav-icon"></i>
                                <span>Clientes</span>
                            </div>
                        </a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/inventario}" class="nav-link active-link">
                            <div>
                                <i class="fas fa-box nav-icon"></i>
                                <span>Inventario</span>
                            </div>
                        </a>
                        <div class="active"></div>
                    </div>
                    <ul class="submenu-active">
                        <li class="nav-submenu"><a th:href="@{/admin/inventario}" class="nav-link">Productos y Stock</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/ofertas}" class="nav-link">Ofertas</a></li>
                        <li class="sub-active"><a th:href="@{/admin/categorias}" class="nav-link">Categorías y Marcas</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/despacho}" class="nav-link">Despacho</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/ventas}" class="nav-link">
                            <div>
                                <i class="fa-solid fa-circle-dollar-to-slot nav-icon"></i>
                                <span>Ventas</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/caja}" class="nav-link">Caja</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/ventas}" class="nav-link">Punto de Venta</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/historial}" class="nav-link">Historial de Ventas</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/pedidos}" class="nav-link">Pedidos</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/devoluciones}" class="nav-link">Devoluciones</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/compras}" class="nav-link">
                            <div>
                                <i class="fas fa-shopping-cart nav-icon"></i>
                                <span>Compras</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/proveedores}" class="nav-link">Proveedores</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/compras}" class="nav-link">Órdenes de Compra</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/compras}" class="nav-link">Recepción de Mercadería</a></li>
                    </ul>
                </li>

                <!-- <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/reportes}" class="nav-link">
                            <div>
                                <i class="fas fa-chart-bar nav-icon"></i>
                                <span>Reportes</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/reportes}" class="nav-link">Reporte de Ventas</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/reportes}" class="nav-link">Reporte de Inventario</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/reportes}" class="nav-link">Reporte de Clientes</a></li>
                    </ul>
                </li> -->
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/configuracion}" class="nav-link">
                            <div>
                                <i class="fas fa-gear nav-icon"></i>
                                <span>Configuración</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/configuracion}" class="nav-link">Datos de la Empresa</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/configuracion}" class="nav-link">Integraciones</a></li>
                    </ul>
                </li>
            </ul>
            
            </nav>
        </div>


        <div class="logout">
                <a th:href="@{/admin/login}" class="nav-link">
                    <div>
                        <i class="fas fa-sign-out-alt nav-icon"></i>
                        <span>Cerrar Sesión</span>
                    </div>
                </a>
        </div>

    </aside>

    <main class="main-content">
        <div class="title">
            <p class="ubi">Módulos/Inventario/Categorias</p>
            <h1 class="title-ubi">Categorías y Marcas</h1>
        </div>

        <div class="content">
            <div class="modulo-header">
                <div class="modulo-title"><h2>Categorías</h2></div>
                <button class="btn-agregar" id="agregar-categoria" type="button"><i class="fas fa-plus"></i><span>Agregar Categoria</span></button>
            </div>
            <div class="buscar-filtros">
                <div class="buscar">
                    <input type="text" placeholder="Buscar categoria ..." id="search-input">
                    <button class="search-button" type="button"><i class="fas fa-search"></i><span>Buscar</span></button>
                </div>

                <div class="filtros">
                    <select name="ordenar" id="ordenar">
                        <option value="">Ordenar por</option>
                        <option value="nombre">Nombre</option>
                        <option value="precio">Precio</option>
                        <option value="stock">Stock</option>
                    </select>
                </div>
                

            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr> 
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>N° de Productos</th>
                            <th>Fecha de Creacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="categoria-list">
                        <!-- Aquí se cargarán los productos dinámicamente -->
                        
                    </tbody>
                </table>

            </div>
            <div class="paginacion">
                <button class="btn-paginacion" id="prev-page" disabled>
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button><span id="page-info">1</span></button>
                <button><span id="page-info">2</span></button>  
                <button><span id="page-info">3</span></button>
                <p>...</p>
                <button><span id="page-info">10</span></button>

                <button class="btn-paginacion" id="next-page">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <div class="content">
            <div class="modulo-header">
                <div class="modulo-title"><h2>Marcas</h2></div>
                <button class="btn-agregar" id="agregar-marca" type="button"><i class="fas fa-plus"></i><span>Agregar Marca</span></button>
            </div>
            <div class="buscar-filtros">
                <div class="buscar">
                    <input type="text" placeholder="Buscar marca ..." id="search-input">
                    <button class="search-button" type="button"><i class="fas fa-search"></i><span>Buscar</span></button>
                </div>

                <div class="filtros">
                    <select name="ordenar" id="ordenar">
                        <option value="">Ordenar por</option>
                        <option value="nombre">Nombre</option>
                        <option value="precio">Precio</option>
                        <option value="stock">Stock</option>
                    </select>

                </div>

                

            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>N° de Productos</th>
                            <th>Fecha de Creacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="marca-list">
                        <!-- Aquí se cargarán los productos dinámicamente -->
                        
                    </tbody>
                </table>

            </div>
            <div class="paginacion">
                <button class="btn-paginacion" id="prev-page" disabled>
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button><span id="page-info">1</span></button>
                <button><span id="page-info">2</span></button>  
                <button><span id="page-info">3</span></button>
                <p>...</p>
                <button><span id="page-info">10</span></button>

                <button class="btn-paginacion" id="next-page">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>

    </main>

    <div id="modal-agregar-categoria" class="modal">
        <div class="modal-content">
                <div class="modal-header">
                    <h2>Agregar Categoria</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body-1">
                    <form id="form-categoria">
                        <div class="body-derecha">
                            <div class="derecha-superior">
                                <div class="campo-colum">
                                    <label for="cod-categoria">Código de Categoría:</label>
                                    <input type="text" id="cod-categoria"  disabled>
                                </div>
        
                                <div class="campo-colum">
                                    <label for="nombre-categoria">Nombre:</label>
                                    <input type="text" id="nombre-categoria" placeholder="Nombre de la Categoría">
                                </div>
        
                                <div class="campo-colum">
                                    <label for="descripcion-categoria">Descripcion:
                                    </label>
                                    <textarea id="descripcion-categoria" placeholder="Descripción de la Categoría"></textarea>
                                </div>
                            </div>
        
                            <div class="botones">
                                <button class="btn-modal-azul" id="guardar-categoria"><i class="fas fa-save"></i><span>Guardar</span></button>
                                <button class="btn-modal-blanco" id="cancelar-categoria"><i class="fas fa-times"></i><span>Cancelar</span></button>
                            </div> 
                        </div>

                    </form>
                    
                </div>
        </div>
    </div>

    <div id="modal-agregar-marca" class="modal">
        <div class="modal-content">
                <div class="modal-header">
                    <h2>Agregar Marca</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body-1">
                    <form id="form-marca">
                        <div class="body-derecha">
                            <div class="derecha-superior">
                                <div class="campo-colum">
                                    <label for="cod-marca">Código de Marca:</label>
                                    <input type="text" id="cod-marca" disabled>
                                </div>
        
                                <div class="campo-colum">
                                    <label for="nombre-marca">Nombre:</label>
                                    <input type="text" id="nombrr-marca" placeholder="Nombre de la Marca">
                                </div>
        
                                <div class="campo-colum">
                                    <label for="descripcion-marca">Descripcion:
                                    </label>
                                    <textarea id="descripcion-marca" placeholder="Descripción de la Marca"></textarea>
                                </div>
                            </div>
        
                            <div class="botones">
                                <button class="btn-modal-azul" id="guardar-marca"><i class="fas fa-save"></i><span>Guardar</span></button>
                                <button class="btn-modal-blanco" id="cancelar-marca"><i class="fas fa-times"></i><span>Cancelar</span></button>
                            </div> 
                        </div>

                    </form>
                    
                    
    
                </div>
        </div>
    </div>

    <div data-component="footer" data-app="store-admin"></div>
    <script th:src="@{/js/admin/store-admin.js}"></script>
    <script th:src="@{/js/admin/categorias.js}"></script>
</body>
</html>
