<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dashboard.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!-- logos -->
    <title>uwu | Dashboard</title>
</head>
<body>
    <div data-component="header" data-app="store-admin"></div>
    <div data-component="aside" data-app="store-admin"></div>
    <main class="main-content">
        <div class="juan">
            <h1>Juan</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quaerat dolor vitae repellendus cum, quibusdam perspiciatis iure voluptatum dolorum dignissimos earum hic totam quam quis blanditiis accusantium! At, optio minima.</p>
        </div>
        <div class="efrain">
            <h1>Efrian</h1>
        </div>

    </main>
    <div data-component="footer" data-app="store-admin"></div>
    <script th:src="@{/js/admin/store-admin.js}"></script>
</body>
</html>


