<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin/todolistas.css}">
    <link rel="stylesheet" th:href="@{/css/admin/modals.css}">
    <link rel="icon" th:href="@{/images/favicon.svg}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>uwu | Pedidos</title>
</head>
<body>
    <header>
        
    </header>

    <aside class="sidebar">
        <div class="aside">
            <div class="aside-header">
            <div class="logo-rol">
                <a th:href="@{/admin/dashboard}" class="logo">
                    <img th:src="@{/images/favicon.svg}" alt="">
                    <p class="text-logo">uwuTech</p>
                </a>
                <div class="rol"><p>Administrador</p></div>
            </div>
            <!--<div class="toggle">
                <div class="toggle-button" id="toggle-button">
                    <button><img src="/shared/assets/sidebar.svg" alt=""></button>
                </div> 
            </div>-->
            </div>
            <nav class="sidebar-menu">
            
            <ul class="nav">
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/dashboard}" class="nav-link">
                        <div>
                            <i class="fas fa-home nav-icon"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                    
                    </div>
                    
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/perfiles}" class="nav-link">
                        <div>
                            <i class="fas fa-id-card-clip nav-icon"></i>
                            <span>Perfiles</span>
                        </div>
                    </a>
                    
                    </div>

                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/perfiles}" class="nav-link">Gestionar Usuarios</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/roles}" class="nav-link">Roles y Permisos</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/clientes}" class="nav-link">
                            <div>
                                <i class="fas fa-user-group nav-icon"></i>
                                <span>Clientes</span>
                            </div>
                        </a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/inventario}" class="nav-link">
                            <div>
                                <i class="fas fa-box nav-icon"></i>
                                <span>Inventario</span>
                            </div>
                        </a>
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/inventario}" class="nav-link">Productos y Stock</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/ofertas}" class="nav-link">Ofertas</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/categorias}" class="nav-link">Categorías y Marcas</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/despacho}" class="nav-link">Despacho</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/ventas}" class="nav-link active-link">
                            <div>
                                <i class="fa-solid fa-circle-dollar-to-slot nav-icon"></i>
                                <span>Ventas</span>
                            </div>
                        </a>
                        <div class="active"></div>
                        
                    </div>
                    <ul class="submenu-active">
                        <li class="nav-submenu"><a th:href="@{/admin/caja}" class="nav-link">Caja</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/ventas}" class="nav-link">Punto de Venta</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/historial}" class="nav-link">Historial de Ventas</a></li>
                        <li class="sub-active"><a th:href="@{/admin/pedidos}" class="nav-link">Pedidos</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/devoluciones}" class="nav-link">Devoluciones</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/compras}" class="nav-link">
                            <div>
                                <i class="fas fa-shopping-cart nav-icon"></i>
                                <span>Compras</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/proveedores}" class="nav-link">Proveedores</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/compras}" class="nav-link">Órdenes de Compra</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/compras}" class="nav-link">Recepción de Mercadería</a></li>
                    </ul>
                </li>

                <!-- <li class="nav-item">
                    <div class="modulo">
                        <a href="/modules/reports/reportes.html" class="nav-link">
                            <div>
                                <i class="fas fa-chart-bar nav-icon"></i>
                                <span>Reportes</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a href="/modules/reportes/ventas.html" class="nav-link">Reporte de Ventas</a></li>
                        <li class="nav-submenu"><a href="/modules/reportes/inventario.html" class="nav-link">Reporte de Inventario</a></li>
                        <li class="nav-submenu"><a href="/modules/reportes/clientes.html" class="nav-link">Reporte de Clientes</a></li>
                    </ul>
                </li> -->
                
                <li class="nav-item">
                    <div class="modulo">
                        <a th:href="@{/admin/configuracion}" class="nav-link">
                            <div>
                                <i class="fas fa-gear nav-icon"></i>
                                <span>Configuración</span>
                            </div>
                        </a>
                        
                    </div>
                    <ul class="submenu">
                        <li class="nav-submenu"><a th:href="@{/admin/configuracion}" class="nav-link">Datos de la Empresa</a></li>
                        <li class="nav-submenu"><a th:href="@{/admin/configuracion}" class="nav-link">Integraciones</a></li>
                    </ul>
                </li>
            </ul>
            
            </nav>
        </div>


        <div class="logout">
                <a th:href="@{/admin/login}" class="nav-link">
                    <div>
                        <i class="fas fa-sign-out-alt nav-icon"></i>
                        <span>Cerrar Sesión</span>
                    </div>
                </a>
        </div>

    </aside>

    <main class="main-content">
        <div class="title">
            <p class="ubi">Módulos / Ventas / Pedidos</p>
            <h1 class="title-ubi">Pedidos</h1>
        </div>
        <div class="content">
            <div class="modulo-header">
                <div class="modulo-title"><h2>Lista de Pedidos</h2></div>
                <button class="btn-agregar" id="agregar-pedido" type="button"><i class="fas fa-plus"></i><span>Nuevo Pedido</span></button>
            </div>
            <div class="buscar-filtros">
                <div class="buscar">
                    <input type="text" placeholder="Buscar Pedidos" id="search-input">
                    <button class="search-button" type="button"><i class="fas fa-search"></i><span>Buscar</span></button>
                </div>

                <div class="filtros">
                    <select name="destino" id="destino">
                        <option value="">Destino</option>
                        <option value="">San Martín</option>
                        <option value="amazonas">Amazonas</option>
                        <option value="ancash">Ancash</option>
                        <option value="apurimac">Apurímac</option>
                        <option value="arequipa">Arequipa</option>
                        <option value="ayacucho">Ayacucho</option>
                        <option value="cajamarca">Cajamarca</option>
                        <option value="callao">Callao</option>
                        <option value="cusco">Cusco</option>
                        <option value="huancavelica">Huancavelica</option>
                        <option value="huanuco">Huánuco</option>
                        <option value="ica">Ica</option>
                        <option value="junin">Junín</option>
                        <option value="la-libertad">La Libertad</option>
                        <option value="lambayeque">Lambayeque</option>
                        <option value="lima">Lima</option>
                        <option value="loreto">Loreto</option>
                        <option value="madre-de-dios">Madre de Dios</option>
                        <option value="moquegua">Moquegua</option>
                        <option value="pasco">Pasco</option>
                        <option value="piura">Piura</option>
                        <option value="puno">Puno</option>
                        <option value="tacna">Tacna</option>
                        <option value="tumbes">Tumbes</option>
                        <option value="ucayali">Ucayali</option>
                    </select>
    
                    <select name="estado" id="estado">
                        <option value="">Estado</option>
                        <option value="disponible">Pendiente</option>
                        <option value="inactivo">Pagado</option>
                        <option value="proximamente">Cancelado</option>
                    </select>
    
                    <select name="ordenar" id="ordenar">
                        <option value="">Ordenar por</option>
                        <option value="nombre">Nombre</option>
                        <option value="precio">Precio</option>
                        <option value="stock">Stock</option>
                    </select>
    

                </div>
                
            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cod. Pedido</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Monto Total</th>
                            <th>Canal</th>
                            <th>Estado Pedido</th>
                            <th>Estado Despacho</th>
                            <th>Destino</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="pedidos-list">
                        <!-- Aquí se cargarán los productos dinámicamente -->
                        <tr>
                            <td>1</td>
                            <td>DEV-1001</td>
                            <td>Pepito Juarez</td>
                            <td>20/06/2025 19:09</td>
                            <td>S/ 150.00</td>
                            <td>Web</td>
                            <td><span class="estado-pendiente">Pendiente</span></td>
                            <td><span class="estado-pendiente">Pendiente</span></td>
                            <td>San Martin</td>
                            <td class="acciones">
                                <button class="btn-accion btn-ver" onclick="verPedido(1)">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
            <div class="paginacion">
                <button class="btn-paginacion" id="prev-page" disabled>
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button><span id="page-info">1</span></button>
                <button><span id="page-info">2</span></button>  
                <button><span id="page-info">3</span></button>
                <p>...</p>
                <button><span id="page-info">10</span></button>

                <button class="btn-paginacion" id="next-page">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            
        </div>
    </main>

    <!--modal para nuevo pedido-->
    <div id="modal-agregar-pedido" class="modal">
        <div class="modal-content">
                <div class="modal-header">
                    <h2>Agregar Pedido</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body-3">
                    <div class="modal-body-2">
                        <div class="body-izquierda">
                            <div class="campo-colum">
                                <label for="id-pedido">Id Pedido:</label>
                                <input type="text" id="id-pedido" placeholder="~">
                            </div>
                            <div class="campo-colum">
                                <label for="cliente">Clienta:</label>
                                <input type="text" id="cliente" placeholder="~">
                            </div>
                            <div class="campo-colum">
                                <label for="correo">Correo Electronico:</label>
                                <input type="text" id="correo" placeholder="~">
                            </div>
                        </div>
                        <div class="body-izquierda">
                            <div class="campo-colum">
                                <label for="ruc/dni">RUC/DNI:</label>
                                <input type="text" id="ruc/dni" placeholder="RUC">
                            </div>
                            <div class="campo-colum">
                                <label for="direccion">Dirección:</label>
                                <input type="text" id="direccion-cliente" placeholder="~">
                            </div>
                            
                            <div class="campo-colum">
                                <label for="telefono">telefono:</label>
                                <input type="text" id="telefono" placeholder="~">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body-1">
                        <div class="derecha-superior">
                            <div class="title-h4">
                                <h4>Productos:</h4>
                                <button class="btn-modal-azul" id="agregar-producto"><i class="fas fa-plus"></i><span>Agregar</span></button>
                            </div>
                        </div> 

                        <div class="tabla-modal-contenedor">
                            <table class="tabla-modal">
                                <thead class="thead-modal">
                                    <tr>
                                        <th>#</th>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-modal">
                                    

                                </tbody>
                            </table>
                        
                            
                        </div>
                        <div class="botones2">
                            <div class="campo-row">
                                <label for="envio">Envio</label>
                                <div class="costo-envio"><p>s/ 20</p></div>
                            </div>
                            <div class="campo-row">
                                <label for="total">Total:</label>
                                <input type="text" id="total" placeholder="S/" disabled>
                            </div>
                            <button class="btn-modal-azul" id="crear-orden"><i class="fas fa-plus"></i><span>Crear Orden de Compra</span></button>
                        </div>

                    </div>
                    
                </div>
        </div>
    </div>

    <div data-component="footer" data-app="store-admin"></div>
    <script th:src="@{/js/admin/sotore-admin.js}"></script>
    <script th:src="@{/js/admin/pedidos.js}"></script>
</body>
</html>
