<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>uwu | Reportes</title>
</head>
<body>
    <header>
    
    </header>
    <div data-component="aside" data-app="store-admin"></div>
    <main class="main-content">

    </main>
    <div data-component="footer" data-app="store-admin"></div>
    <script th:src="@{/js/admin/store-admin.js}"></script>
</body>
</html>
